# Fichiers de données et profils
profiles/
*.json
!default_config.json

# Environnement Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Environnement virtuel
venv/
ENV/

# Logs et bases de données
*.log
*.sqlite3
*.db

# Fichiers de configuration IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers temporaires du système
.DS_Store
Thumbs.db
